<link rel="stylesheet" href="/css/login.css">

<section class="cont_login">
    <div class="form_login">
        <h1>login</h1>

        <form id="loginForm">
            <input name="email" placeholder="email">
            <input name="password" type="password" placeholder="password">
            <input class="submitBtn" type="submit" value="iniciar sesión">
        </form>

        <p>no estas registrado? <a href="/register">click aquí</a>.</p>
        <p>login mediante <a href="/api/sessions/github">github</a>.</p>
        <p>login mediante <a href="/api/sessions/google">google</a>.</p>
        <p>olvidaste tu contraseña? <a href="/restartPass">click aquí</a>.</p>
    </div>
</section>

<script src="/js/login.js"></script>