<h1>login</h1>

<div>
    <form id="loginForm">
        <label>Email</label><input name="email">
        <br>
        <label>Contraseña</label><input name="password">
        <input type="submit">
    </form>
</div>

<p>si aún no estas registrado <a href="/register">click aquí</a></p>

<p>tambien puedes logearte mediante <a href="/api/sessions/github">github</a></p>
<script src="/js/login.js"></script>