<h1>profile</h1>

<p>nombre: {{user.firstName}}</p>
<p>apellido: {{user.lastName}}</p>
<p>edad: {{user.age}}</p>
<p>email: {{user.email}}</p>

<a href="/api/sessions/logout">
    <button>logout</button>
</a>