<link rel="stylesheet" href="/css/profile.css">

<section class="cont_profile">
    <span><h1>bienvenid@</h1></span>
    <span><p><strong>mostraremos un poco de información sobre tí</strong></p></span>
    <hr>
    <span><p><strong>nombre</strong>: {{user.name}}</p></span>
    <span><p><strong>id</strong>: {{user.id}}</p></span>
    <span><p><strong>rol</strong>: {{user.role}}</p></span>
    <span><p><strong>email</strong>: {{user.email}}</p></span>

    <a href="/products"><button>tienda</button></a>
    <form action="/api/carts" method="POST"><button type="submit">carrito</button></form>
    <a href=""><button>mensajes (work)</button></a>

    <a href="/api/sessions/logout"><button>logout</button></a>
</section>
