<link rel="stylesheet" href="/css/register.css">


<section class="cont_register">
    <div class="form_register">
        <h1>register</h1>

        <form id="registerForm">
            <input name="firstName" placeholder="primer nombre">
            <input name="lastName" placeholder="apellido">
            <input name="email" placeholder="email (user)" type="email">
            <input name="age" placeholder="edad" type="number">
            <input name="password" placeholder="password" type="password">

            <input class="submitBtn" type="submit" value="registrar usuario">
        </form>
    </div>
</section>

<script src="/js/register.js"></script>