<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecer Contraseña</title>
</head>
<body>
    <h1>Restablecer Contraseña</h1>
    <form action="/api/sessions/resetPassword" method="post" id="resetNewPassword">
        <input type="hidden" name="resetToken" value="{{resetToken}}">
        <label for="newPassword">Nueva Contraseña:</label>
        <input type="password" name="newPassword" required>
        <label for="confirmPassword">Confirmar Contraseña:</label>
        <input type="password" name="confirmPassword" required>
        <button type="submit">Restablecer Contraseña</button>
    </form>
</body>
</html>

<!--<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/newPass.js"></script>-->