<link rel="stylesheet" href="/css/restartPass.css">

<section class="cont_restart">
    <div class="form_restart">
        <h1>restablecer constrase単a</h1>
        <form action="/api/users/resetPassword" method="post" id="resetNewPassword">
            <input type="hidden" name="resetToken" value="{{resetToken}}" >
            <input type="password" name="newPassword" required placeholder="nueva contrase単a">
            <input type="password" name="confirmPassword" required placeholder="repita contrase単a">
            <button class="submitBtn" type="submit">Restablecer Contrase単a</button>
        </form>
    </div>
</section>
    
<!--<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/newPass.js"></script>-->