<link rel="stylesheet" href="/css/restartPass.css">

<section class="cont_restart">
    <div class="form_restart">
        <h1>restart pass</h1>

        <form id="restartForm">
            <input name="email" placeholder="email de usuario" required>
            <input name="emailReplik" placeholder="repita su email de usuario" required>
            <input class="submitBtn" type="submit" value="restablecer contraseña">
        </form>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/restart.js"></script>