@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body
{
    margin: 0;
    overflow: hidden;
}

:root 
{
    --color-black-one: #111a25;
    --color-crema-one: #FFFBF0;
    --color-yellow-one: #f3b916;
}

.cont_documents 
{
    width: 100vw;
    height: 100vh;
    display: flex;
    place-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Montserrat;
    background-image: url('/img/others/antic-8430398_1920.jpg');
    background-position: center;
    background-size: cover;
}

.cont_documents>form>h1 
{
    font-size: 2rem;
    font-weight: 600;
}

.cont_documents>form 
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: rgba(255,255,255,0.7);
    padding: 50px;
}

.cont_documents>form>input 
{
    border: none;
    text-transform: lowercase;
    cursor: pointer;
}

.cont_documents button 
{
    width: 200px;
    height: 30px;
    font-family: 'Montserrat', sans-serif;
    border: none;
    background-color: var(--color-yellow-one);
    color: var(--color-black-one);
    font-size: 0.75rem;
    font-weight: 800;
    margin-top: 10px;
    cursor: pointer;
}

.cont_documents button:hover
{
    transition: background-color ease-in 1s, color ease 1s;
    background-color: var(--color-black-one);
    color: var(--color-yellow-one);
}